html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: #212121;
  font-family: 'Roboto';
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  color: #212121;
}
.link:hover::after {
  color: #2196f3;

  opacity: 1;
}

a {
  text-decoration-line: none;
}
ul {
  list-style: none;
}

/* Хедер */
.header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;

  margin-top: 0px;
  margin-bottom: 0px;
}
.logotip {
  width: 153px;
  font-size: 26px;
  display: inline-block;
  font-family: 'Raleway';
  font-weight: bold;
}
.studio {
  display: flex;
  font-family: 'Roboto';
}

.studio .item {
  margin-right: 50px;
}
.studio .item:last-child {
  margin-right: 0px;
}
.studio .link {
  display: block;

  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
}
.link::after {
  content: '';

  display: block;

  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;

  position: absolute;

  top: 53px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.header-color-link {
  display: flex;
  margin-left: auto;
}
.list-flex-link .header-sprite use {
  display: flex;
  display: inline-block;
}
.header-color-link .link + .link {
  margin-left: 50px;
}
.nav-header {
  display: flex;
  align-items: center;
}

.father-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}

.header-color-link > .link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
}
.list-flex-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}
.content-header {
  display: inline-block;
  display: flex;

  margin-top: 0px;
  margin-bottom: 0px;
}
.content-header .list-flex-link + .list-flex-link {
  margin-left: 30px;
}
.header-sprite {
  fill: #757575;
  margin-right: 10px;
  height: 13px;
  padding-top: 0px;
}
.list-flex-link:hover svg {
  fill: #2196f3;
  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-flex-link:hover .link-mail {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-flex-link:hover .link-phone {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bluelogo {
  color: #2196f3;
}
.blacklogo {
  color: black;
}

/* Хедер конец */

/* Герой */

.heroi-title {
  width: 650px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 0px;

  font-weight: 900;
  font-size: 44px;
  color: #ffffff;

  font-family: 'Roboto';

  line-height: 60px;
}

.heroi-color {
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images1/headerimg.jpg');

  background-size: cover;
  background-position: center;
  height: 600px;

  padding-bottom: 94px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.btn-studio {
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
}

/* Герой конец */

/* Преимущества */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;

  margin-left: auto;
  margin-right: auto;
}
.container-advantage {
  padding-left: 0px;
  padding-right: 0px;
}
.sputnik {
  width: 65px;
  height: 70px;
}

.clock {
  width: 65px;
  height: 70px;
}

.pc {
  width: 70px;
  height: 55px;
}

.sprite-advantage {
  width: 270px;
  height: 120px;
  display: block;
  background: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.astronaut1 {
  width: 55px;
  height: 60px;
}

.container-advantage h3 {
  color: #212121;
  width: 270px;
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 16px;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
}

.container-advantage p {
  color: #757575;
  width: 270px;
  line-height: 24px;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}

.container-advantage {
  display: flex;
}
.container-advantage .decor-item {
  margin-right: 30px;
  width: 270px;
}

/* Преимущества конец */

/* Примеры работ */
.work-examples {
  padding-bottom: 94px;
}

.title-our-work {
  color: #212121;
  width: 376px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  line-height: 42px;
}

.desktop {
  padding-left: 83px;
  padding-right: 82px;

  margin-top: auto;
  margin-bottom: auto;
}
.mobile {
  padding-left: 86px;
  padding-right: 85px;
  margin-top: auto;
  margin-bottom: auto;
}
.designer {
  padding-left: 91px;
  padding-right: 90px;
  margin-top: auto;
  margin-bottom: auto;
}
.work-examples ul p {
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  /* width: 370px; */
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.flex-work-examples {
  display: flex;

  padding: 0px;
  margin: 0px;
}

.flex-work-examples li {
  margin-right: 30px;

  height: auto;
}
.flex-work-examples img {
  display: block;

  max-width: 370px;
  height: auto;
}
.position {
  position: relative;
}

.img-position {
  position: absolute;
  width: 370px;
  height: auto;
  bottom: 0px;
}
/* Примеры работ конец */

/* Наша команда */
.command {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-our-team {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  width: 264px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 0px;

  line-height: 42px;
  text-align: center;

  color: #212121;
}
.command ul h3 {
  font-size: 16px;

  font-family: 'Roboto';
  font-style: normal;

  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
}
.command ul p {
  font-size: 16px;

  font-family: 'Roboto';
  font-style: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;

  color: #757575;
}
.container-team {
  display: flex;
}
.container-team li {
  margin-right: 30px;
  width: 270px;
}
.container-team {
  padding: 0px;
  margin: 0px;
}

.container-team-li {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
  background-color: #ffffff;
}
.sprite-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sprite-link:hover {
  background: #2196f3;

  cursor: pointer;
}

.sprite-link:hover svg {
  fill: #ffffff;
}
.sprite-team {
  padding-bottom: 0px;
  fill: #afb1b8;
}
.icon-link-team {
  align-items: center;
  display: flex;
  justify-content: center;
}
/* Наша команда конец */

/* Постояннные клиенты */
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client {
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 0px;
}
.logo-company {
  display: flex;
  margin-left: auto;
  margin-top: auto;
}
.logo-client {
  width: 170px;
  height: 90px;
  display: flex;
  border: 1px solid #afb1b8;
  box-sizing: border-box;

  border-radius: 4px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
}
.link-client {
  fill: #afb1b8;
}

.link-client svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-client:hover svg {
  fill: #2196f3;
  cursor: pointer;
}
.logo-client:hover {
  border: 1px solid #2196f3;
}

/* Постоянные клиенты конец */

/* Футер */
footer {
  background: #2f303a;
}

.site-logo {
  display: inline-block;
  font-size: 26px;
  font-family: 'Raleway';
  width: 153px;
  padding-bottom: 20px;
  font-weight: bold;
}
.adr {
  color: #ffffff;
}

.logo-kiev {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 69px;
}
.join {
  padding-right: 155px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-mail {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  margin-top: 9px;
}
.footer-tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.mailing h2 {
  font-size: 14px;
  color: #ffffff;
  width: 219px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
}

.join h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  width: 145px;
  font-family: 'Roboto';
  font-style: normal;
}
.flex-sitelogo-join-mailing {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
/* Подпишитесь на рассылку */
.btn-footer {
  display: flex;
  margin: 0px;
  width: 200px;
  height: 50px;

  font-family: 'Roboto';
  font-style: normal;

  padding-left: 29px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}
.btn-footer::after {
  content: url(../images1/iconsend.png);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Подпишитесь на рассылку */
.whitelogo {
  color: #ffffff;
}
.footer-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
/* ПРИСОЕДИНЯЙТЕСЬ */
.flex-join {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
}

.footer-link {
  fill: #ffffff;
  margin-right: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;

  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
  background: #2196f3;
  cursor: pointer;
}
/* Футер конец */

/* Блочный стиль/Flex */

button {
  background: #2196f3;
  color: #ffffff;
  font-size: 16px;
  width: 200px;

  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Портфолио */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  color: #212121;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  color: #212121;
}

.link:hover {
  color: #2196f3;

  opacity: 1;
}
a {
  text-decoration-line: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Хедер */
header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.logotip {
  width: 153px;
  font-size: 26px;
  display: inline-block;
  font-family: 'Raleway';
  font-weight: bold;
}
.portfolio {
  display: flex;
  font-family: 'Roboto';
}
.portfolio .item {
  margin-right: 50px;
}
.portfolio .item:last-child {
  margin-right: 0px;
}
.portfolio .link {
  display: block;

  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
}

.header-color-link {
  display: flex;
  margin-left: auto;

  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.header-color-link .link + .link {
  margin-left: 50px;
}

.nav-header {
  display: flex;
  align-items: center;
}
.father-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.father-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-color-link a {
  color: #757575;
}
.header-color-link a:hover {
  color: #2196f3;
}

.bluelogo {
  color: #2196f3;
}
.blacklogo {
  color: black;
}

/* Хедер конец*/

/* Герой */

/* Navigator */
.heroi {
  padding-top: 93px;
  padding-bottom: 94px;
}
.section-nav .button-nav {
  background: #f5f4fa;
}
.section-nav button:hover {
  text-decoration-line: none;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.section-nav {
  display: flex;
  justify-content: center;
  text-align: center;

  padding-left: 0px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.button-nav {
  margin-right: 8px;
  background: #f5f4fa;
}

.button-text {
  padding: 6px 22px;

  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #212121;
  background: #f5f4fa;

  box-shadow: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.one {
  width: 73px;
}
.two {
  width: 128px;
}
.three {
  width: 145px;
}
.four {
  width: 103px;
}
.five {
  width: 130px;
}
.section-nav .button-nav:last-child {
  margin-right: 0px;
}
/* Navigator end */
.heroi-picture {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.flex-img:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.flex-img {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.overflow {
  position: relative;

  overflow: hidden;
}
.overflow:hover .overlay {
  transform: translateY(0);
}
.overlay {
  position: absolute;

  width: 100%;
  height: 100%;
  bottom: 0;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition-duration: 250ms;
}
.overlay p {
  color: #ffffff;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}
.brd {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex-img .link {
  display: block;
}

.title-section {
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.paragraf {
  margin-top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.flex-img:nth-child(3n) {
  margin-right: 0px;
}
/* Герой конец */
/* Футер */
footer {
  background: #2f303a;
}
.flex-sitelogo-join-mailing {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.site-logo {
  display: inline-block;
  font-size: 26px;
  font-family: 'Raleway';
  width: 153px;
  padding-bottom: 20px;
  font-weight: bold;
}
.kiev {
  color: #ffffff;
}
.logo-kiev {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 69px;
}
.whitelogo {
  color: #ffffff;
}
.join {
  padding-right: 155px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.flex-join {
  display: flex;
}
.footer-mail {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.footer-tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}
.join h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  width: 145px;
  font-family: 'Roboto';
  font-style: normal;
}

.mailing h2 {
  font-size: 14px;
  color: #ffffff;
  width: 219px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
}
.btn-footer {
  padding-left: 29px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}
.mailing input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
}
.mailing button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Футер конец */

button {
  color: #ffffff;
}
